.about-title {
  font-family: "Graziela";
  font-size: 32vw;
  margin-top: 30vh;
  font-weight: 400;
  line-height: 100%;
  text-align: center;
  white-space: nowrap;
}

.about-subtitle-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1.5px solid $dark;
  padding-bottom: 5px;
  margin-bottom: 30px;
}

.about-subtitle {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 16px;
}

.about-resume-title {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 30px;
}

.about-resume-text {
  font-size: 20px;
  margin-bottom: 40px;
}

.about-resume-img {
  width: 100%;
  scale: 1.1;
  margin-bottom: 15px;
}

.about-titles {
  font-size: 25px;
  font-weight: 800;
  line-height: 86%; /* 21.5px */
  letter-spacing: 0.25px;
  text-transform: uppercase;
}

.about-cv,
.about-skills {
  text-align: center;
  margin-bottom: 50px;
}

.about-skills-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;

  & > * {
    transition: transform 0.4s;
    transform-origin: top;
    &:hover {
      transform: translateY(60%) scaleY(120%);
    }
  }
}

.about-cv-cta {
  margin-top: 10px;
  font-size: 25px;
  font-weight: 400;
  text-decoration: underline 2px solid;
  transition: 0.4s;
  &:hover {
    letter-spacing: 2px;
    -webkit-text-stroke: 1px $dark;
  }
}

.about-age {
  text-align: right;
  margin-bottom: 100px;
}

.about-texts {
  font-size: 17px;
  font-weight: 500;
}

.about-quote-img {
  width: 100%;
  margin-top: 10%;
}
.about-quote {
  font-size: 31px;
  font-style: normal;
  font-weight: 500;
  line-height: 105%;
  margin-bottom: 50px;
}

@include breakpoint("medium") {
  .about-subtitle {
    font-size: 2vw;
  }

  .about-title {
    font-size: 27vw;
  }

  .about-resume-title {
    font-size: 6vw;
    margin-top: 30%;
    line-height: 80%;
  }

  .about-resume-text {
    font-size: 1.8vw;
    margin: 50px 0 20px;
  }

  .about-resume-img {
    scale: 1;
  }

  .about-swiss-icon {
    width: 60%;

    transform-origin: top right;
  }

  .about-age,
  .about-skills,
  .about-cv {
    text-align: left;
  }

  .about-texts {
    font-size: 24px;
  }
  .about-titles {
    margin-bottom: 10px;
  }

  .about-skills-container {
    justify-content: flex-start;
  }
  .about-quote {
    font-size: 96px;
    margin-bottom: 30vh;
    padding-top: 8vh;
  }
}

@include breakpoint("big") {
  .about-title {
    font-size: 20vw;
  }
  .about-resume-title {
    font-size: 4vw;
  }
}
