.banner {
  background-position: center;
  background-size: cover;
  height: 100dvh;
  width: 100vw;
  display: flex;
  flex-direction: column;

  justify-content: flex-end;
  padding: 3dvh 3vw;
  gap: 12px;
}

.banner-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.banner-subtitle {
  font-size: 24px;
  font-weight: 500;
  line-height: 86%; /* 30.96px */

  i {
    font-weight: 300;
  }
}

.banner-title {
  font-size: 65px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 80%;
}

.banner-subtitle,
.banner-title {
  color: $white;
}

@include breakpoint("medium") {
  .banner {
    padding: 2vw 3vw;
    gap: 20px;
  }
  .banner-subtitle {
    font-size: 3vw;
  }
  .banner-title {
    font-size: 8vw;
  }
}

@include breakpoint("large") {
  .banner-subtitle {
    font-size: 2vw;
  }

  .banner-title {
    font-size: 9vw;
  }
}
