.burger-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $white;
  z-index: 4;
  transition: transform 0.5s;

  &.hidden {
    transform: translateX(110%);
  }
}

.burger-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 64px;
}

.burger-item {
  text-decoration: none;
  transition: -webkit-text-stroke 0.5s, letter-spacing 0.6s;
  -webkit-text-stroke: 1px rgba($dark, 0);
  white-space: nowrap;

  &:hover {
    -webkit-text-stroke: 3px $dark;
    letter-spacing: 1vw;
  }
}

.burger-img {
  width: 40vw;
  transition: transform 0.4s;

  &:hover {
    transform: rotate(-15deg) scale(1.1);
  }
}

.burger-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8vh auto 5vh;
}

.burger-icon-container {
  display: flex;
  justify-content: flex-end;
  padding-top: 4vh;
}
.burger-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.burger-icon {
  position: relative;
  z-index: 2;
  width: 40px;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.burger-bar {
  background: $dark;
  height: 2px;
  width: 100%;
  border-radius: 5px;

  &.dark {
    background: $white;
  }
}

.burger-top-contaier {
  display: flex;

  justify-content: space-between;
  padding-top: 4vh;
}

.burger-close-icon {
  width: 24px;
  cursor: pointer;
  transition: fill 0.4s, rotate 0.4s;
  fill: rgba($dark, 0);
  &:hover {
    fill: $dark;
    rotate: 90deg;
  }
}

@include breakpoint("medium") {
  .burger-img {
    width: 25vw;
  }

  .burger-top-contaier {
    margin-bottom: 20vh;
  }

  .burger-img-container {
    margin: 0;
  }

  .burger-items {
    justify-content: center;
    height: 100%;
    align-items: flex-start;
    font-weight: 300;
    font-size: 5vw;
  }
}

@include breakpoint("big") {
  .burger-img {
    width: 20vw;
  }
}
