.intro {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro-title {
  font-family: "Graziela";
  font-size: 100px;
  font-weight: 400;
  margin-bottom: 40px;
}

.intro-texts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}

.intro-cta {
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  position: relative;

  .intro-cta-arrow {
    transition: transform 0.4s;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: -10px;
    height: 2px;
    background: $dark;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.4s;
  }

  &:hover {
    .intro-cta-arrow {
      transform: translateX(50%);
    }
    &::before {
      transform: scaleX(100%);
    }
  }
}

.intro-cta-second {
  display: block;
  margin: 15vh auto 0;
  width: fit-content;
  border: 1.5px solid $dark;
  border-radius: 20px;
  padding: 7px 7px 4px;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.1);
  }
}

.intro-cta-second-arrow {
  rotate: 90deg;
}

@include breakpoint("large") {
  .intro-texts {
    font-size: 29px;
    gap: 0;
  }

  .intro-cta {
    font-size: 30px;
  }

  .intro-title {
    font-size: 200px;
  }

  .intro {
    height: 120vh;
  }
}
