.side-stuff {
  background: $dark;
}

.side-slider-container {
  height: 25vh;
  overflow: hidden;
  white-space: nowrap;
}

.side-slide {
  font-size: 10vw;
  font-style: italic;
  display: inline-block;
  color: $white;
  animation: slider 17s linear infinite;
}

.side-img-slider-container {
  display: flex;
  overflow: hidden;
  padding-bottom: 10vh;
}

.side-img-slider {
  animation: sliderReverse 20s linear infinite;
  height: 75vh;
  display: flex;
  align-items: flex-start;

  .side-img-col {
    height: 100%;
  }

  img {
    height: 100%;
    width: auto;
  }

  .side-img-3 {
    height: 45%;
  }
  .side-img-4 {
    height: 55%;
  }

  .side-img-6 {
    height: 35%;
  }

  .side-img-7 {
    height: 65%;
  }

  .side-img-8 {
    height: 46%;
  }
  .side-img-9 {
    height: 54%;
  }
}

@keyframes slider {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes sliderReverse {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@include breakpoint("small") {
  .side-slide {
    font-size: 15vw;
  }
  .side-slider-container {
    height: 15vh;
    padding-top: 2vh;
  }
}
