* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

body {
  font-family: "Creato Display";
  color: $dark;
  overflow-x: hidden;

  &.no-scroll {
    overflow-y: hidden;
  }
}

html {
  scroll-behavior: smooth;
}

@include breakpoint("small") {
  .desktop {
    display: none;
  }
}

@include breakpoint("medium") {
  .mobile {
    display: none;
  }
}
