@import "bootstrap/scss/bootstrap-grid";

@import "font";
@import "var";
@import "base";
@import "layout";
@import "modules/burger";
@import "modules/banner";
@import "modules/intro";
@import "modules/works";
@import "modules/footer";
